.main{
    text-decoration: underline;
    font-style: italic;
}

.main2{
    letter-spacing: 5px;
    color: brown
}
h2{
    font-style: italic;
    color: rgb(17, 236,17);
}
.m1{
    font-weight: bold;
    color: brown;
}
.para1{
    color: brown;
    font-size: large;
}
.para2{
color: brown;
font-size: xx-small;
}
.para3{
font-style: italic;
color: brown;
}
a{
    background-color: yellow;
    text-decoration: none;
    color: brown;
}